@import "tailwindcss";

@source "../../../app/views/**/*";
@source "../../../app/helpers/**/*.rb";
@source "../../../app/javascript/**/*.js";

@layer components {
  .btn {
    @apply rounded-md px-3.5 py-1.5 text-sm font-medium inline-flex items-center;
  }

  .btn-primary {
    @apply bg-orange-500 text-white hover:bg-orange-400;
  }

  .btn-secondary {
    @apply inline-flex items-center justify-center rounded-md px-3.5 py-1.5
          text-sm font-medium bg-gray-300 text-slate-700 hover:bg-gray-50;
  }

  .btn-link {
    @apply text-sm text-blue-600 hover:underline;
  }

  .btn-cart {
    @apply ml-2 inline-flex min-w-[1.75rem] items-center justify-center rounded-md bg-orange-500 hover:bg-orange-400 px-1.5 text-xs font-semibold text-white;
  }

  .btn-danger {
    @apply inline-flex items-center justify-center rounded-md px-3.5 py-1.5
           text-sm font-medium bg-red-600 text-white hover:bg-red-500;
  }

  .form-label {
    @apply block mb-2 text-sm font-medium text-gray-900;
  }

  .form-field {
    @apply block shadow-sm rounded-md border px-3 py-2 mt-2 w-full;
  }

  .btn-form-submit {
    @apply w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500
           text-white inline-block font-medium cursor-pointer;
  }
