<h1 class="text-xl font-semibold mb-4">
  <%= t(".title") %>
</h1>

<p class="text-gray-700 leading-relaxed">
  <%= t(".body_html").html_safe %>
</p>

<p class="mt-4 text-gray-700">
  <%= t(".built_by_html").html_safe %>
</p>
