<% content_for :title, "Editing product" %>

<div class="md:w-2/3 w-full space-y-6">
  <h1 class="font-bold text-4xl">Editing product</h1>

  <%= render "products/shared/form", product: @product %>

  <div class="flex flex-wrap items-center gap-3">
    <%= button_to "Delete Product",
          @product,
          method: :delete,
          data: { turbo_confirm: "Are you sure?" },
          class: "btn-danger" %>

    <%= link_to "Back to products",
          products_path,
          class: "btn btn-primary inline-block" %>
  </div>
</div>
